.layout-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 8px;
}

.nav-bar {
  margin: 0;
}

.center-children {
  justify-items: center;
}

.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table {
  margin: 0 auto;

  /* width: 600px; */
  width: 100%;
  margin-bottom: calc(8px);
}

.half-width {
  width: 50%;
}

#single-entry-container {
  max-width: 1000px;
}

.masonry-holder {
  column-count: 4;
  column-gap: 20px;
}

.masonry-blocks {
  display: inline-block;
  margin: 0 0 15px;
  width: 100%;
  box-sizing: border-box;
}

.divider {
  position: relative;

  /* width: 600px; */
  width: 100%;
  height: 2px;

  /* left: 25%; */
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .masonry-holder {
    column-count: 1;
  }

  .table {
    margin: 0 auto;
    width: 100%;
  }

  .divider {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .masonry-holder {
    column-count: 2;
  }
}

@media screen and (min-width: 1080px) {
  .masonry-holder {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  .masonry-holder {
    column-count: 4;
  }
}

@media screen and (min-width: 1600px) {
  .masonry-holder {
    column-count: 5;
  }
}
