@font-face {
  font-family: NATS;
  src:
    url("/fonts/webfonts_NATS/NATS.ttf.woff") format("woff"),
    url("/fonts/webfonts_NATS.ttf.svg#NATS") format("svg"),
    url("/fonts/webfonts_NATS.ttf.eot"),
    url("/fonts/webfonts_NATS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none !important;
}

body {
  background: #0b0b0b;
}

.nav-bar-home {
  color: white;
  font-size: 30px;
}

.masonry-blocks {
  border-radius: 8px;

  /* background: #ebeded; */
}

/* .masonry-blocks a {
  position: relative;
} */

/* .list-entry-image {
  overflow: hidden;
} */

.list-entry-image {
  /* box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25); */
  border-radius: 8px;
  box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.05);
}

.list-entry a {
  position: relative;
}

.list-entry a::after {
  position: absolute;
  display: inline-block;
  content: "HELLO";
  color: white;
  background: rgba(196, 186, 186, 0.5);
  padding: 8px 40px;
  right: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: NATS;
  font-size: 24px;
  line-height: 24px;

  /* top: 20px; */
  border-radius: 0 8px 8px 0;
  bottom: 200%;
  width: fit-content;

  /* -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: wheat; */

  /* width: 100%; */
  height: calc(max-content - 24px);
}

a:hover,
button:hover {
  cursor: pointer;
}
