@font-face {
  font-family: NATS;
  src:
    url("/fonts/webfonts_NATS/NATS.ttf.woff") format("woff"),
    url("/fonts/webfonts_NATS.ttf.svg#NATS") format("svg"),
    url("/fonts/webfonts_NATS.ttf.eot"),
    url("/fonts/webfonts_NATS.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-2-font-size: 24px;
  --description-font-size: 16px;
}

.hidden {
  display: none !important;
}

body {
  background: #0b0b0b;
}

.nav-bar-home {
  color: white;
  font-size: 30px;
  font-family: NATS;
  line-height: 30px;
}

.masonry-blocks {
  border-radius: 8px;
}

.list-entry-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.05);
}

.entry-image-a {
  position: relative;
}

.entry-image-a::after {
  position: absolute;
  display: inline-block;
  content: attr(data-serial);
  color: white;
  background: rgba(196, 186, 186, 0.5);
  padding: 8px 20px;
  right: 0;
  left: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  font-family: NATS;
  font-size: 24px;
  line-height: 24px;
  border-radius: 0 8px 8px 0;
  bottom: 200%;
  width: fit-content;
  text-align: right;
  backdrop-filter: blur(2px);
}

.single-entry {
  box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
}

.single-entry-image {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
  position: relative;

  /* box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.05); */
}

.single-entry-info-container {
  color: white;
  font-family: NATS;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  /* background-color: wheat; */
  min-height: 300px;
}

.single-entry-info-container > h2,
.single-entry-info-container > p {
  margin: 0;
  text-align: center;
}

.table td {
  border-bottom: grey solid;
}

.table td:nth-child(1) {
  text-align: left;
}

.table td:nth-child(2) {
  text-align: right;
}

.single-entry-info-container > h2 {
  padding: 10px 0;
  line-height: var(--header-2-font-size);
}

.single-entry-info-container > p {
  line-height: var(--description-font-size);
}

.divider {
  background-color: grey;
}

.save-button-div {
  z-index: 1;
  position: relative;
}

.save-button,
.unsave-button {
  height: fit-content;
  width: fit-content;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
  transform-origin: center;
  transform: scale(1.5);
  transition: transform 0.15s;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 20px;
  background: none;
  border: none;
}

/* .unsave-button-i::after {
  content: "\f004";
  position: absolute;
  left: 0;
  right: 0;
  color: white;
} */

.save-button:hover {
  transform: scale(2);
}

.unsave-button-i,
.save-button-i {
  z-index: 1;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
.unsave-button-i-fill {
  transform-origin: center;
  color: white;
  position: absolute;
} */

button {
  background: none;
  border: none;
  padding: none;
}

a:hover,
button:hover {
  cursor: pointer;
}
